<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %> </title>
    <link rel="stylesheet" href="/css/layouts.css">
    <%- style %>
</head>
<body>
    <!-- inclued header -->
    <%- include('_header'); %>


   <%- body %>


<!-- include footer -->
<%- include('_footer'); %>
<%- script %>
</body>
</html>